<div [@routerTransition]>

    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
        <p style="color: white">Please Wait... </p>  
    </ngx-spinner> 

    <br>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    <span>Change Password</span>
                </div>
                <div class="card-body table-responsive">
                    <form [formGroup]="detailForm" (ngSubmit)="saveDetail()" >
                        <div class="formbox">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6 col-xl-6 col-md-6">
                                    <div class="form-group">
                                        <label>New Password *</label>
                                        <input type="text" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.password.errors }"/>
                                        <div *ngIf="submitted && fval.password.errors" class="invalid-feedback">
                                            <div *ngIf="fval.password.errors.required">
                                                Password is required
                                            </div>
                                            <div *ngIf="fval.password.errors.minlength">
                                                Password must be at least 6 characters
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-2 col-xl-2 col-md-2">
                                    <div class="form-group">
                                        <br>
                                        <button type="submit" class="btn btn-primary pull-right">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
