<div [@routerTransition]>
    <app-page-header [heading]="'Classes'"></app-page-header>

    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
        <p style="color: white">Please Wait... </p>  
    </ngx-spinner> 

    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    <span>Class Details</span>
                    <button class="btn btn-sm btn-primary pull-right" (click)="open(content,'add', '')">Add</button>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                        <thead>
                            <tr>
                                <th>S. No.</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th class="text-center actionHeader">Action</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="listData?.length != 0">
                            <tr *ngFor="let data of listData; index as i">
                                <td>{{i+1}}</td>
                                <td>{{data.class_name}}</td>
                                <td>{{data.description}}</td>
                                <td class="text-center actionHeader">
                                    <button (click)="open(content,'edit', data.id)" class="btn btn-sm btn-primary fa fa-pencil"></button>
                                    &nbsp;
                                    <button (click)="deleteData(data.id)" class="btn btn-sm btn-danger fa fa-trash"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Add/Edit Modal Start -->
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Class Detail</h4>
        </div>
        <div class="modal-body">
            <form [formGroup]="detailForm" (ngSubmit)="saveDetail();">
                <div class="formbox">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xl-6 col-md-6">
                            <div class="form-group">
                                <label>Class Name *</label>
                                <input type="text" formControlName="class_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.class_name.errors }"/>
                                <div *ngIf="submitted && fval.class_name.errors" class="invalid-feedback">
                                    <div *ngIf="fval.class_name.errors.required">
                                        Class Name is required
                                    </div>                        
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xl-6 col-md-6">
                            <div class="form-group">
                                <label>Description *</label>
                                <textarea formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.description.errors }"></textarea>
                                <div *ngIf="submitted && fval.description.errors" class="invalid-feedback">
                                    <div *ngIf="fval.description.errors.required">
                                        Description is required
                                    </div>                        
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-danger pull-right marLt_2Per" (click)="c('Close click')">Close</button>
                        <button type="submit" class="btn btn-primary pull-right">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </ng-template>
    <!-- Add/Edit Modal End -->

</div>

