<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Mr. Bhartiya - Admin Panel</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" name="uEmail" [(ngModel)]="uEmail" class="form-control input-underline input-lg" placeholder="Enter User Name">
                    </div>
                    <div class="form-group">
                        <input type="password" name="uPass" [(ngModel)]="uPass" class="form-control input-underline input-lg" placeholder="Enter Password">
                    </div>
                </div>
                <a class="btn rounded-btn" (click)="onLoggedin()">Log In</a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']" (click)="onReset()">Reset</a>
            </form>
        </div>
    </div>
</div>
