<div [@routerTransition]>

    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
        <p style="color: white">Please Wait... </p>  
    </ngx-spinner> 

    
    <br>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    <span>Student Basic Details</span>
                    <button (click)="backUrl()" class="btn btn-sm btn-primary pull-right">Back</button>
                </div>
                <div class="card-body table-responsive">
                    <form [formGroup]="detailForm" (ngSubmit)="saveDetail()" >
                        <div class="formbox">
                            <div class="row">
                                <div class="col-lg-4 col-sm-4 col-xl-4 col-md-4">
                                    <div class="form-group">
                                        <label>Student Name *</label>
                                        <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.name.errors }"/>
                                        <div *ngIf="submitted && fval.name.errors" class="invalid-feedback">
                                            <div *ngIf="fval.name.errors.required">
                                                Student Name is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-xl-4 col-md-4">
                                    <div class="form-group">
                                        <label>Email ID *</label>
                                        <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.email.errors }"/>
                                        <div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
                                            <div *ngIf="fval.email.errors.required">
                                                Email ID is required
                                            </div>
                                            <div *ngIf="fval.email.errors.email">
                                                Enter valid Email Id
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-xl-4 col-md-4">
                                    <div class="form-group">
                                        <label>Password *</label>
                                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.password.errors }"/>
                                        <div *ngIf="submitted && fval.password.errors" class="invalid-feedback">
                                            <div *ngIf="fval.password.errors.required">
                                                Password is required
                                            </div>
                                            <div *ngIf="fval.password.errors.minlength">
                                                Password must be at least 6 characters
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-xl-4 col-md-4">
                                    <div class="form-group">
                                        <label>Mobile Number *</label>
                                        <input type="text" formControlName="mobile_no" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.mobile_no.errors }"/>
                                        <div *ngIf="submitted && fval.mobile_no.errors" class="invalid-feedback">
                                            <div *ngIf="fval.mobile_no.errors.required">
                                                Mobile Number is required
                                            </div>
                                            <div *ngIf="fval.mobile_no.errors.pattern">
                                                Mobile Number is invalid
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-xl-4 col-md-4">
                                    <div class="form-group">
                                        <label>Class *</label>
                                        <select class="form-control" formControlName="class" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.class.errors }">
                                            <option *ngFor="let data of classData" value="{{data.class_name}}">{{data.class_name}}</option>
                                        </select>
                                        <div *ngIf="submitted && fval.class.errors" class="invalid-feedback">
                                            <div *ngIf="fval.class.errors.required">
                                                Class is required
                                            </div>                        
                                        </div>
                                    </div>
                                </div>        
                                <div class="col-lg-4 col-sm-4 col-xl-4 col-md-4">
                                    <div class="form-group">
                                        <label>Date of Birth *</label>
                                        <input type="date" formControlName="dob" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.dob.errors }"/>
                                        <div *ngIf="submitted && fval.dob.errors" class="invalid-feedback">
                                            <div *ngIf="fval.dob.errors.required">
                                                Date of Birth is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-xl-4 col-md-4">
                                    <div class="form-group">
                                        <label>Gender *</label>
                                        <select class="form-control" formControlName="gender" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.gender.errors }">
                                            <option value="female">Female</option>
                                            <option value="male">Male</option>
                                        </select>
                                        <div *ngIf="submitted && fval.gender.errors" class="invalid-feedback">
                                            <div *ngIf="fval.gender.errors.required">
                                                Gender is required
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-lg-4 col-sm-4 col-xl-4 col-md-4">
                                    <div class="form-group">
                                        <label>State *</label>
                                        <select class="form-control" formControlName="state" (change)="getCityData($event)" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.state.errors }">
                                            <option *ngFor="let data of stateData" value="{{data.name}}">{{data.name}}</option>
                                        </select>
                                        <div *ngIf="submitted && fval.state.errors" class="invalid-feedback">
                                            <div *ngIf="fval.state.errors.required">
                                                State is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-xl-4 col-md-4">
                                    <div class="form-group">
                                        <label>City *</label>
                                        <select class="form-control" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.city.errors }">
                                            <option *ngFor="let data of cityData" value="{{data.city_name}}">{{data.city_name}}</option>
                                        </select>
                                        <div *ngIf="submitted && fval.city.errors" class="invalid-feedback">
                                            <div *ngIf="fval.city.errors.required">
                                                City is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-xl-4 col-md-4">
                                    <div class="form-group">
                                        <label>Payment Method *</label>
                                        <select class="form-control" formControlName="payment_method" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.payment_method.errors }">
                                            <option *ngFor="let data of paymentData" value="{{data.method}}">{{data.method}}</option>
                                        </select>
                                        <div *ngIf="submitted && fval.payment_method.errors" class="invalid-feedback">
                                            <div *ngIf="fval.payment_method.errors.required">
                                                Payment Method is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-xl-4 col-md-4">
                                    <div class="form-group">
                                        <label>Subscription *</label>
                                        <select class="form-control" formControlName="subscription_type" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.subscription_type.errors }">
                                            <option *ngFor="let data of subscriptionData" value="{{data.id}}">{{data.title}}</option>
                                        </select>
                                        <div *ngIf="submitted && fval.subscription_type.errors" class="invalid-feedback">
                                            <div *ngIf="fval.subscription_type.errors.required">
                                                Subscription is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-xl-4 col-md-4">
                                    <div class="form-group">
                                        <label>Amount *</label>
                                        <input type="number" formControlName="amount" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.amount.errors }"/>
                                        <div *ngIf="submitted && fval.amount.errors" class="invalid-feedback">
                                            <div *ngIf="fval.amount.errors.required">
                                                Amount is required
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-sm-12 col-xl-12 col-md-12">
                                    <div class="form-group">
                                        <br>
                                        <button type="submit" class="btn btn-primary pull-right">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>
